@import url(/style/header.css);
@import url('/style/navigation.css');
@import url(/style/login.css);
@import url(/style/filter.css);
@import url('/style/tests.css');
@import url(/style/pagination.css);
@import url('/style/footer.css');
@import url('/style/media.css');
@import url('/fontawesome-free-5.11.2-web/css/all.css');

@font-face {
 font-family: muli;
  src: url(fonts/Muli-Regular.ttf);
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: muli, sans-serif;
}
html {
  scroll-behavior: smooth;
}

section {
  max-width: 960px;
  margin: auto;
}

a {
  text-decoration: none;
}

.burger__menu img{
  width: 50px;
  height: 50px;
  
  /* position: absolute;
  top: 10%;
  left: 5%; */
}
.burger__menu2 img{
  width: 50px;
  height: 50px;
  display: block;
  /* position: absolute;
  top: 10%;
  left: 5%; */
}




