@import url('header.css');
@import url('navigation.css');
@import url('login.css');
@import url('filter.css');
@import url('tests.css');
@import url('pagination.css');
@import url('footer.css');
@import url('media.css');


@font-face {
 font-family: muli;
  src: url(fonts/Muli-Regular.ttf);
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: muli, sans-serif;
}
html {
  scroll-behavior: smooth;
}

section {
  max-width: 960px;
  margin: auto;
}

a {
  text-decoration: none;
}

.burger__menu img{
  width: 50px;
  height: 50px;
  
  /* position: absolute;
  top: 10%;
  left: 5%; */
}
.burger__menu2 img{
  width: 50px;
  height: 50px;
  display: block;
  /* position: absolute;
  top: 10%;
  left: 5%; */
}




